.container__titulo{
    color: #fff;
    margin: 0 auto;
    margin-top: 50px;
    font-size: 2rem;
    font-weight: 500;
}

.form{
    margin: 10px 0 0;
}

.input{
    font-size: 1.5rem;
    border-radius: 15px;
    border: none;
    outline: none;
    padding: 5px 20px;
    box-shadow: 0 0 5px #000;
}