:root {
    --columns: 4fr 1fr;
}

.container__home{
    display: grid;
    align-items: start;
    grid-template-columns: var(--columns);
}

.container__titulo{
    color: #fff;
    margin: 0 auto;
    margin-top: 50px;
    font-size: 2rem;
    font-weight: 600;
}

.container__homeGifs{
    min-height: 200vh;
    padding: 0 20px;
}


@media screen and (max-width: 1000px) {
    :root{
        --columns: 1fr;
    }
}