.form {
    padding: 0 10px;
    display: flex;
    flex-flow: column wrap;
    margin: 20px 0;
    font-size: 16px;
}

.input{
    margin: 0 0 15px;
    align-self: center;
    max-width: 600px;
    font-size: 1.5em;
    border-radius: 15px;
    border: none;
    outline: none;
    padding: 5px 20px;
    box-shadow: 0 0 5px #000;
}

.form__boxs-select{
    display: flex;
    margin: 0 0 15px;
    flex-flow: row wrap;
    justify-content: center;
}

.form__boxs-select > select{
    border-radius: 10px;
    padding: 5px 10px;
    margin: 0 5px;
    font-size: 1em;
}

.form__btn{
    width: fit-content;
    padding: 7px 25px;
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    font-size: 1.3em;
    font-weight: 600;
    border-radius: 20px;
    cursor: pointer;
    align-self: center;
    transition: 0.5s ease;
}

.form__btn:hover{
    transition: 0.5s ease;
    background: #fff;
    color: #000;
}

.form__btn[disabled]{
    transition: 0.3s ease all;
    opacity: 0.3;
    pointer-events: none;
}

@media screen and (max-width: 350px) {
    .form{
        font-size: 12px;
    }
}