.gif{
    margin: 10px 20px;
    background: #fff; 
    border-radius:15px;
    padding: 0 10px;
    height: fit-content;
    width: -webkit-fill-available;
    text-decoration: none;
    border: 2px solid #ffd100;
}

.gif:hover{
    cursor: pointer;
    text-decoration: underline;
}

.gif > img{
    object-fit: contain;
    /* min-width: 300px; */
    /* min-height: 300px; */
    width: 100%;
    margin-bottom: 20px;
    border-radius:15px;
}

.gif > h4{
    color: #000;
    margin: 10px 0 5px;
    font-size: 1.25rem;
}