:root{
    --minmax: 300px; 
  }
  

.container__favorites{
        margin: 50px 10px 5px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(var(--minmax), 1fr) );
        grid-template-rows: masonry;
        gap: 10px;
        position: relative;
}

.not__favorites{
    margin-top: 100px;
    color: #fff;
    font-size: 40px;
}

.favorites{
    border-radius:15px;
    text-decoration: none;
    width: 99%;
    height: 300px;
    max-width: 500px;
    position: relative;
    margin: 0 auto;
}

.favorites:hover{
    cursor: pointer;
    text-decoration: underline;
}

.favorites__img{
    width: 100%;
    height: 100%;
    border-radius:15px;
    z-index: 2;
    margin: 0;
    padding: 0;
}

.favorites__title{
    color: #fff;
    bottom: 0px;
    left: 0;
    border-radius: 0 15px 0 15px;
    text-align: left;
    padding: 5px 12px 9px;
    margin: 0;
    text-transform: uppercase;
    position:absolute;
    z-index: 3;
    background: rgba(0, 0, 0, 0.7);   
    font-size: 0.7rem;
}