.App {
  text-align: center;
  background: #000;
  margin: 30px auto;
}

.app__Enlaces{
  text-decoration: none;
  color: #fff;
  display: flex;
  flex-flow: column wrap;
  margin: 10px 0 0;
  font-size: 1.25rem;
}

.app__Enlaces:hover{
  cursor: pointer;
  text-decoration:underline; 
}

.App h1{
  font-size: 30px;
  color: #fff;
  margin: 0 auto 20px;
}